$red-color: rgba(128, 1, 31, 1);
$white-color: white;
$wheat-color: rgba(255, 249, 224, 1); 
$black-color: black;
$gray-color: rgba(70, 68, 68, 1);
$placeholder: rgba(139, 135, 133, 1);
$option-color: rgba(255, 249, 224, 1);
$order-bg:rgba(252, 239, 214, 1);
$label-color: rgba(43, 42, 41, 1);
$error: rgba(230, 0, 4, 1);